@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="text"]:focus {
  background: transparent;
  border: none;
  outline-width: 0;
}
.ql-container {
  font-size: 18px !important;
}
